.nolindent{
    font-weight: bold;
    font-size: 32px;
    margin-left: 10px;
}
.oneindent{
    font-size: 28px;
    margin-left: 50px;
}
.twoindent{
    font-size: 23px;
    margin-left: 90px;
}
.thrindent{
    font-size: 20px;
    margin-left: 130px;
}