main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
    align-items: center;
}
main a{
    color:inherit;
    text-decoration: none;
    font-size: 40px;
}
main a:hover{
    text-decoration: underline;
}